absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
et-xmlfile
filelock
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
keras
libclang
Markdown
MarkupSafe
ml-dtypes
MouseInfo
mss
mysql-connector-python
numpy
oauthlib
openpyxl
opt-einsum
packaging
panda
pandas
Pillow
pipenv
platformdirs
protobuf
pyasn1
pyasn1-modules
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
pytweening
pytz
requests
requests-oauthlib
rsa
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
wrapt